body {
  font-family: "DM Sans", sans-serif;
  background-color: #11101d;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}



.searchContainer {
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  transform: translateY(30vh);
  animation: fadeIn 2.5s;
  width: 50rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

select,
input {
  padding: 8px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
}

select:focus,
input:focus {
  outline: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

input {
  width: 40%;
  /* font-size: 2rem; */
}

input::placeholder {
  color: rgb(83, 83, 83);
  font-size: 1rem;
}

select:invalid {
  color: rgb(83, 83, 83);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: white !important;
}

button {
  color: white;
  background-color: transparent;
  padding: 4px 20px;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
  height: 40px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.241);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.movieContainer {
  max-width: 1000px;
  margin: 0 auto;
  animation: fadeIn 2.5s;
  background-color: #1c1f2e87;
  box-shadow: 0 10px 60px #0c0e14f9;
  padding: 4rem;
  height: 100vh;
  border-radius: 40px;
}

.movieItem {
  width: 10rem;
  cursor: pointer;
  animation: fadeIn 3.5s;
}

.movieItem img {
  width: 10rem;
  height: 14rem;
  object-fit: cover;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.796);
  transition: all 0.3s ease;
}

.movieImage {
  max-width: 200px;
}

.movieDetails {
  color: white;
}

.movieDetails h3 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
}

.movieDetails h5 {
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.771);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.modal {
  
  max-width: 1000px;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    0deg,
    rgb(77, 88, 127) 0%,
    rgba(17, 16, 29, 1) 100%
  );
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  z-index: 100;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.modal-info {
  width: 70%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-info h3 {
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
}

.modal-img-div {
  width: 25%;
}

.modal-img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.788);
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 16px;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

.modal-content button {
  background-color: var(--red-color);
  color: var(--yellow-color);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 0.8rem;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: var(--dark-color);
  color: var(--yellow-color);
}

.streaming-icon {
  width: 100px;
  filter: drop-shadow(5px 5px 5px #222);
  transition: transform 0.3s;
}

.streaming-icon:hover {
  transform: scale(1.1);
}

.streaming-services {
  /* display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between; */
}

.streaming-list {
  display: flex;
  gap: 5rem;
  margin-top: 4rem;
  padding-left: 0;
  list-style: none;
}

/* .title {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
} */
.titleContainer {
  color: #e5e5e5;
  font-size: 4rem;
  font-family: "Lilita One", sans-serif;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10rem; */
  transform: translateY(30vh);
}

.animation {
  height: 60px;
  overflow: hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0;
  height: 3.81rem;
  margin-bottom: 3.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 14s infinite;
}

@keyframes text-animation {
  0% {
    margin-top: -0.5rem;
  }
  10% {
    margin-top:-0.5rem;
  }
  20% {
    margin-top: -8.2rem;
  }
  30% {
    margin-top: -8.2rem;
  }
  40% {
    margin-top: -16.1rem;
  }
  50% {
    margin-top: -16.1rem;
  }
  60% {
    margin-top: -24rem;
  }
  70% {
    margin-top: -24rem;
  }
  80% {
    margin-top: -31.9rem;
  }
  90% {
    margin-top: -31.9rem;
  }
  100% {
    margin-top: -0.5rem;
  }
}



@media screen and (max-width: 1140px) {
  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 10rem; */
    transform: translateY(30vh);
  }

  .searchContainer{
    width: 40rem;
  
  }
}


@media screen and (max-width: 860px) {
  .searchContainer {
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    transform: translateY(30vh);
    animation: fadeIn 2.5s;
    width: 30rem;
  }

  .modal-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 100%;
  }

  .modal-img-div {
    width: 50%;
  }

  .modal{
    width: 60vw;
    height: 65vh;
  }

  .streaming-icon {
    width: 80px;
   
  }

  .streaming-list {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
}

@media screen and (max-width: 600px) {
  .titleContainer {
    font-size: 3rem;
  }
  .streaming-icon {
    width: 70px;
   
  }

  .streaming-list {
    
    gap: 1rem;
   

  }
}


.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #1a182b 50%, #11101d 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
  filter: blur(20px);
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
  filter: blur(20px);
}

.bg3 {
  animation-duration:5s;
  filter: blur(20px);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}


